<div class="container">


  <div class="row">

    <div class="col-xs-12 col-sm-6" >
      <% if @product.picture? %>
        <%= cl_image_tag @product.picture.path, width: 200, height: 300, crop: :fill %>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h1>Cocktail details</h1>
      <p>
        <strong>Name:</strong>
        <%= @cocktail.name %>
      </p>
      <p>
        <strong>Origin:</strong>
        <%= @cocktail.origin %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= @cocktail.price %>
      </p>
      <p>
        <strong>Alcool Degree:</strong>
        <%= @cocktail.alcool_degree %>
      </p>
    </div>

  </div>

<hr>

<h2>Recipe</h2>

<ul> <% @cocktail.doses.each do |dose| %>
  <li><tr><%= dose.ingredient.name %> | Quantity: <%= dose.description %></tr>
  <tr><%= link_to  cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you really really sure?" }, class: "btn btn-danger" do %>
        <i class="fa fa-trash"></i> Delete
        <% end %>
  </tr>
  </li>
  <% end %>
</ul>

<hr>

<%= render "doses/new" %>

</div>
